header {
  height: 400px;
  width: 100%;
  background-color:  #d99820;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");;
 
}
#avatar {
 position: absolute;
 height: 200px;
 left:0;
 top: 5.3em;
 right: 0;
 margin: auto;
}

#username {
font-weight: normal;
 position: absolute;
 left:21em;
 top: 9.5em;
 right: 0;
 margin: auto;
 color: white;
}


