header {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color:  #d99820;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");;
 
}


#username {
font-weight: normal;
text-align: center;
 color: white;

}

.headerElements {
  display: inline-block;
  margin: 1.5em 30em;
}


