/* BREAKPOINT FOR DESKTOP  */

@media only screen and (min-width: 1024px) {

  .headerAndMainContainer {
    display: flex;
    flex-direction: row;
    
  }

  header {
    max-width: 400px;
    margin: 2em;
  }

  form {
   margin: 0 auto;
    max-width: 1000px;
  }

  nav {
    background-color:  #4056A1;
  }
}
