/* This file contains the styles for the validation Errors displayed */

.validationError {
  text-align: center;
  color: #A30000;
  
  font-size: 1em;
  width: 40%;
  margin: 1em auto;
 
}

#above140 {
 border: solid;
  display: none;
}

#noChars {
 border: solid;
 display: none;
}